<div class="card h-100 shadow-sm">
  <img
    src="{{ event.imageUrl }}"
    class="card-img-top img-fluid"
    style="height: 200px; object-fit: cover"
  />

  <div class="card-body">
    <h5 class="card-title">{{ event.titre | capitalizeFirst }}</h5>
    <p class="text-muted">{{ event.lieu }}</p>
    <p>{{ event.date }}</p>
    <p class="fw-bold"></p>
    <p>{{ event.description }}</p>
    <p>{{ event.prix }}</p>
    <p>{{ event.nbPlaces }}</p>
    <p>nbr likes: {{ event.nbrLikes }}</p>

    <!-- Bouton Like -->
    <button
      class="btn btn-sm btn-primary"
      (click)="likeEvent(event)"
      [disabled]="dateExpire(event)"
    >
      👍 Like
    </button>
    <button
      class="btn btn-sm btn-primary"
      (click)="buyEvent(event)"
      [disabled]="event.nbPlaces == 0"
    >
      buy ticket
    </button>
    <button class="btn btn-sm btn-primary" [routerLink]="['./', event.id]">
      more details
    </button>

    <button class="btn btn-sm btn-primary" (click)="participate(event.id,event.prix)" [disabled]="event.nbPlaces==0">
     Participer
    </button>

    <span class="ms-2">put your data</span>
  </div>
</div>
