<div class="card h-100 shadow-sm">
  <img
    [src]="event.imageUrl"
    class="card-img-top img-fluid"
    style="height: 200px; object-fit: cover"
  />

  <div class="card-body">
    <h5 class="card-title">{{ event.titre | capitalizeFirst }}</h5>
    <p class="text-muted">{{ event.lieu }}</p>
    <p>{{ event.date }}</p>
    <p>{{ event.description }}</p>
    <p><strong>Prix :</strong> {{ event.prix }} DT</p>
    <p><strong>Places :</strong> {{ event.nbPlaces }}</p>
    <p><strong>Likes :</strong> {{ event.nbrLikes }}</p>

    <!-- Bouton Like -->
    <button
      class="btn btn-sm btn-primary"
      (click)="likeEvent(event)"
      [disabled]="dateExpire(event)"
    >
      👍 Like
    </button>

    <!-- Buy -->
    <button
      class="btn btn-sm btn-success ms-2"
      (click)="buyEvent(event)"
      [disabled]="event.nbPlaces == 0"
    >
      🎫 Buy Ticket
    </button>

    <!-- More details -->
    <button class="btn btn-sm btn-info ms-2" [routerLink]="['./', event.id]">
      More details
    </button>

    <!-- Participate -->
    <button class="btn btn-sm btn-warning ms-2"
      (click)="participate(event.prix)"
      [disabled]="event.nbPlaces == 0"
    >
      Participer
    </button>

    <span class="ms-2">put your data</span>
  </div>
</div>
